<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Appender 설정 -->
    <appender name="BACKAPP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>backapp.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 로거 설정 -->
    <logger name="com.yourpackage.GlobalExceptionHandler" level="ERROR" additivity="false">
        <appender-ref ref="BACKAPP"/>
    </logger>

    <root level="INFO">
    </root>
</configuration>