.login {
    width: 1440px;
    height: auto;
    padding-top: 50px;
    padding-left: 240px;
    padding-right: 240px;
    display: grid;
    place-items: center;
    font-weight: bolder;
}

.loginName {
    font-weight: 700;
}

.loginButtonContainer {
    display: grid;
    place-items: center;
}

.loginButton {
    background-color: #00C4C4;
    color: black;
    width: 200px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bolder;
}
.loginButton:hover{
    background-color: #009b9b;
    color: white;
}


